<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Vue.js CDN 주소-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>    
    <div id="app">
        <div class="list">
           <ul v-for="user in list">
                <li>name = {{user.name}}</li>
                <li>age = {{user.age}}</li>
                <li>address = {{user.address}}</li>
           </ul> 
        </div>
        <div>
            <p>데이터 추가</p>
            <p>
                <span>name:<input type="text" class="user-name" v-model="newUser.name"></span><br>
                <span>age:<input type="text" class="user-age" v-model="newUser.age"></span><br>
                <span>address:<input type="text" class="user-address" v-model="newUser.address"></span>
            </p>
            <p>
                <p>
                    <button class="btn-add-user" @click="addUser"> 추가</button>
                </p>
            </p>
        </div>
    </div>

    <script>
         const data = {
            list: [{
                name: "user_1",
                age: 10,
                address: "address_1"
            }, {
                name: "user_2",
                age: 20,
                address: "address_2"
            }, {
                name: "user_3",
                age: 30,
                address: "address_3"
            }],

            newUser : {
                name : "",
                age: 0,
                address:""
            }
        }
        
        const {createApp} = Vue 

        createApp({
            data() {
                return data;
            },
            methods : {
                addUser(){
                    this.list.push({
                        name : this.newUser.name,
                        age : this.newUser.age,
                        address : this.newUser.address
                    })

                    this.newUser.name="";
                    this.newUser.age="";
                    this.newUser.address="";
                }
            }
        }).mount("#app")
    </script>
</body>
</html>