<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h2> v-for="value in 배열" </h2>
    
    <div id="app">
        <div id="list1">
            <ul>
                <li v-for="user in dataset.list">{{user}}</li>
            </ul>
        </div>
        <br><br>
        <h2> v-for="(value,key) in 배열"</h2>

        <div id="list2">
            <ul>
                <li v-for="(user,key) in dataset.list">{{key}} {{user}}</li>
            </ul>
        </div>
        <br><br>
        <ul v-for="(user, index) in data2.list" :key="index">
            <li>{{index}} {{user.name}}</li>
            <li>{{index}} {{user.age}}</li>
            <li>{{index}} {{user.address}}</li>
        </ul>
    </div>

    <script>
        let data = {list:["user1", "user2", "user3"]}
        let data2 = {list:[
            {name:"홍길동", age:10, address:"서울"},
            {name:"이현재", age:10, address:"경기"},
            {name:"전청조", age:10, address:"인천"}
        ]}
        const {createApp} = Vue
        createApp({
            data() {
                return {dataset : data, data2 : data2}
            }
        }).mount("#app")
    </script>
</body>
</html>