<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h2>v-for와 v-if를 같이 사용하는 경우</h2>
    
    <div id="app">
    <template v-if="list.length !=0">
        <ul v-for="(user, index) in list" :key="index">
            <template v-if="user.age >=20">
                <li>{{index}} {{user.name}}</li>
                <li>{{index}} {{user.age}}</li>
                <li>{{index}} {{user.address}}</li>
            </template>
        </ul>
    </template>
        <div v-else>
            데이터가 없습니다.
        </div>
    </div>    

    <script>
     
        let data2 = {list:[
            {name:"이선균", age:10, address:"강남"},
            {name:"전청조", age:20, address:"김포"},
            {name:"권지용", age:30, address:"용산"},
            {name:"남현희", age:40, address:"성남"}
        ]}
        const {createApp} = Vue
        createApp({
            data() {
                return data2
            }
        }).mount("#app")
    </script>
</body>
</html>