.form {
    width: 40rem;
    margin: 2rem auto;
}

.form input {
    width: 300px;
    font: inherit;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #fff;
    border: none;
    outline: none;
    border-bottom: 2px solid #f06292;
    margin-right:1rem;
}

.form button {
    font:inherit;
    background-color: #f06292;
    border: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}